* { padding: 0; margin: 0; box-sizing:border-box; -moz-box-sizing:border-box; }
body
{
	font-family: 'Ubuntu', sans-serif;
	background-color: #fff;
}
b.navbar-brand
{
    font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}
ul.icons
{
	list-style: none;
}
ul.icons li
{
	cursor: pointer;
	padding: 8px;
	border: 1px solid #eee;
	/* width: 300px; */
	width: -webkit-fill-available;
    max-width: 250px;
	float: left;
	margin: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #333;
	background: #eee;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.icons li.active:hover,
ul.icons li.active
{
	border: 1px solid #1fa67a;
	color: #FFF;
	background: #1fa67a;
}
ul.icons li:hover
{
	border: 1px solid #1fa67a;
	color: #FFF;
	background: #1fa67a;
}
ul.icons li span
{
	text-indent: 12px;
	display: block;
	line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.icons li i
{
	width: 24px;
	height: 24px;
	font-size: 24px;
	text-align: center;
	display: block;
	float: left;
    line-height: 34px;
    margin-left: 8px;
}
.ui-autocomplete {
	max-height: 300px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	background-color: #f5f5f5;
	background-color: rgba(255, 255, 255, 0.95);
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    border: 1px solid #CCC;
}
.ui-menu-item li, .ui-menu-item li:hover
{
    border: none !important;
    outline: none !important;
}
.ui-menu-item a:hover,
.ui-menu-item a.ui-state-focus,
.ui-menu-item a.ui-state-active
{
	color: #FFF;
	background: #1fa67a;
    border: none !important;
    outline: none !important;
}
.ui-menu-item a
{
	color: #333;
    border: none;
    outline: none;
}
.ui-state-focus
{
    border: none !important;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
	height: 100px;
}
#search
{
	margin-bottom: 10px;
	/* padding: 8px;
	border: 1px solid #ccc;
	width: 608px;
	margin: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	text-indent: 10px;
	-moz-appearance:none;
	-webkit-appearance:none;
	outline: none; */
}
#search:focus {
	border: 1px solid #999;
}
.header
{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 100;
}
.header .wrapper
{
	color: #fff;
	height: 30px;
	background-color: #1fa67a;
	width: 100%;
    border-bottom: 1px solid #1b926c;
    color: #b0ddce;
}
.header .title
{
    line-height: 30px;
}
.header .title > i
{
    color: #FFF;
}
.header .title span
{
	font-size: 10px;
	margin-left: 10px;
	text-shadow: none;
	line-height: 30px;
    position: relative;
    top: -2px;
}
.header .title span a
{
	color: #fff;
	text-decoration: none;
}
.header .title .right
{
	float: right;
	font-size: 12px;
	text-shadow: none;

}
.header .title .right a
{
	color: #b0ddce;
	text-decoration: none;
    font-weight: 300;
    margin-left: 12px;
}
.header .title .right a:hover
{
    color: #fff;
}
.filters
{
	padding: 22px 0 17px;
	background-color: #f5f5f5;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
}
.tools, .list, .header .title, .details-wrapper
{
	/* width: 924px; */
	margin: 0 auto;
}
.list
{
	/* margin-top: 120px; */
	padding-bottom: 30px;
}
/* .list.detailed
{
	margin-top: 270px;
} */
.clearfix
{
	display: block;
	clear: both;
}
.demo
{
	float: left;
	width: 350px;
    padding-top: 24px;
    padding-left: 5px;
}
.sample
{
	color: #222;
	padding-right: 20px;
	display: inline-block;
	display: none;
}
.size-4
{
	font-size: 100px;
}
.size-3
{
	font-size: 64px;
}
.size-2
{
	font-size: 32px;
}
.size-1
{
	font-size: 16px;
	padding-right: 0;
}
.details
{
	display: none;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(-40deg, #eeeeee, #e6e6e6);
	background-image: -webkit-linear-gradient(-40deg, #eeeeee, #e6e6e6);
	background-image: -o-linear-gradient(-40deg, #eeeeee, #e6e6e6);
	background-image: linear-gradient(-40deg, #eeeeee, #e6e6e6);
	color: #222222;
	text-shadow: 1px 1px 1px #ffffff;
	border-bottom: solid 1px #c4c4c4;
	height: 150px;
	overflow: hidden;
}
pre
{
	display: inline-block;
	padding: 0 4px;
	font-size: 18px;
}
.info pre
{
	text-transform: uppercase;
}
.info
{
	color: #999;
	padding: 10px 0;
    white-space: nowrap;
}
.name
{
	padding-top: 20px;
}
.name a
{
	color: #222;
	text-decoration: none;
}
.name a i
{
	color: #BBB;
	font-size: 12px;
	display: inline-block;
	vertical-align: middle;
	padding-left: 4px;
}
.name a:hover i
{
	color: #666;
}
.copy pre
{
	font-size: 12px;
}
.aliases
{
	font-size: 12px;
	color: #888;
	padding-left: 10px;
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
	display: block;
	padding: 0;
	color: #333;
	background: transparent;
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #998;
  font-style: italic
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
  color: #333;
  font-weight: bold
}

pre .number,
pre .hexcolor,
pre .ruby .constant {
  color: #099;
}

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #d14
}

pre .title,
pre .id {
  color: #900;
  font-weight: bold
}

pre .javascript .title,
pre .lisp .title,
pre .clojure .title,
pre .subst {
  font-weight: normal
}

pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
  color: #458;
  font-weight: bold
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
pre .lisp .body {
  color: #008080
}

pre .regexp {
  color: #009926
}

pre .class {
  color: #458;
  font-weight: bold
}

pre .symbol,
pre .ruby .symbol .string,
pre .lisp .keyword,
pre .tex .special,
pre .prompt {
  color: #990073
}

pre .built_in,
pre .lisp .title,
pre .clojure .built_in {
  color: #0086b3
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
  font-weight: bold
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

pre .diff .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}
